In [8]:
import sys

def factorial(n):
    if(n<0):
        print("Cann't define a factorial of a negative number\nExiting...\n")
        sys.exit(0)                
    elif n==0 or n==1:
        return 1
    else:
        return factorial(n-1) * n

In [14]:
factorial(12)

479001600

In [26]:
Lst = [0, 1, 2, 3] 

print(Lst)
Lst.append(4)
print(Lst)
Lst.append(4)
print(Lst)

print(Lst[0:2])
print(Lst[1:3])
print(Lst[1:])

print([1,2 ] + [3,4] + [3, 4])

print([1,2]*5)


print(Lst.index(4))

[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 4]
[0, 1]
[1, 2]
[1, 2, 3, 4, 4]
[1, 2, 3, 4, 3, 4]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
4

In [33]:
di1 = {}
di1["name"] = "Alexey"
print(di1)

di1.update({"name":"Augustin", "age":100})
print(di1)

di2 = {"age": 1000}
print(di2)

{'name': 'Alexey'}
{'name': 'Augustin', 'age': 100}
{'age': 1000}